

.titre{
    font-weight: bold;
}
.chiffr{
    padding: 20px;
    font-size: 100px;
    font-weight: bold;
}
.butt1{
    margin-left: 200%;
    background-color: mediumpurple;
    color: white;
    padding: 20px;
}
.contenu1{
    align-items: center;
    display: flex;
    border: 1px solid mediumpurple;
    width: 60%;

}

.butt2{
    margin-left: 200%;
    background-color: mediumpurple;
    color: white;
    padding: 20px;
}
.contenu2{
    align-items: center;
    display: flex;
    border: 1px solid mediumpurple;
    width: 60%;

}

.butt3{
    margin-left: 200%;
    background-color: mediumpurple;
    color: white;
    padding: 20px;
}
.contenu3{
    align-items: center;
    display: flex;
    border: 1px solid mediumpurple;
    width: 60%;

}

.butt4{
    margin-left: 200%;
    background-color: mediumpurple;
    color: white;
    padding: 20px;
}
.contenu4{
    align-items: center;
    display: flex;
    border: 1px solid mediumpurple;
    width: 60%;

}

.butt5{
    margin-left: 200%;
    background-color: mediumpurple;
    color: white;
    padding: 20px;
}
.contenu5{
    align-items: center;
    display: flex;
    border: 1px solid mediumpurple;
    width: 60%;

}

.butt1{
    margin-left: 200%;
    background-color: mediumpurple;
    color: white;
    padding: 20px;
}
.contenu1{
    align-items: center;
    display: flex;
    border: 1px solid mediumpurple;
    width: 60%;

}
